.divProductList {
  display: flex;
  flex-direction: column;
  padding: 25px 8px;
  align-items: center;
  justify-content: center;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.divCard {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  background-color: transparent;

  &:hover {
    transform: scale(1.05);
  }
}

.cardProduct {
  display: flex;
  width: 300px;
}

.divCardImg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 130px;
  height: 125px;

  & :hover {
    cursor: pointer;
  }
}

.cardImg {
    max-width: 110px;
    max-height: 90px;
}

.divCardTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  width: 180px;  
  border-left: 1px solid rgb(202, 202, 202);
}

.cardTitle {
  max-width: 180px;
}

.cardPrice {
  font-weight: 900;
  font-style: italic;
}

.divNoProducts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 150px;
}

.divNoProducts>p {
  font-size: 1.4rem;
  font-weight: 700;
}

@media (min-width: 1024px) {
  
}