.alert {
  background-color: rgb(56, 55, 55);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  animation: fadeIn 0.5s;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.095);
}

.text {
  text-align: center;
  margin: 20px 0;
  width: 100%;
  font-size: 1.5rem;
}

.btnContinue, .btnGoCart, .close {
  font-weight: 700; 
  background-color: transparent;
  border: none;
  border: 2px solid white;
  color: white;
  padding: 5px 10px;
  border-radius: 7px;
  margin: 10px 5px;

  
  & :hover{
    cursor: pointer;
  }
}

.close {
  width: 50%;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (min-width:1024px){
   
}

