@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: Lato, sans-serif !important;
  background-image: radial-gradient( circle 1192px at 21.5% 49.5%,  rgb(91, 21, 51) 0.1%, rgba(0, 0, 0, 0.758) 100.2% );
  color: #E5D4ED;
}

.light {
  background: #E5D4ED;
  color: #1D1128;
}